* text=auto
*.py text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.tex text eol=lf
*.png binary
*.pdf binary
*.txt text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
